<section>
    <div class="lesson-viewer-wrapper">
        <!-- Header -->
        <div class="columns is-centered title-login">
            <div class="column has-text-centered">
                <h1>¡Bienvenido a la aplicación de EcoHub!</h1>
                <small>Ingresá y empieza a reciclar.</small>
            </div>
        </div>

        <!-- Sign In/Log In form -->
        <div class="columns" *ngIf="!isNewMember">
            <div class="column">
                <div class="columns is-centered">
                    <div class="column is-8 user-box">
                        <!-- <span class="user-label">Usuario:</span> -->
                        <mat-form-field>
                            <input matInput placeholder="Usuario">
                            <mat-hint>Poné tu nombre de usuario</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column is-8 password-box">
                        <!-- <span class="password-label">Contraseña:</span> -->
                        <mat-form-field>
                            <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-hint>Poné tu contraseña</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column is-4 user-box">
                        <button mat-raised-button color="primary" (click)="login()"> Ingresar
                        </button>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column has-text-centered register">
                        <small>Nuevo a EcoHub?</small>
                        <!-- Tildes -->
                        <span (click)="openSignUp()">Registrate aqui y crea tu cuenta</span>
                    </div>
                </div>
            </div>
            <div class="column logo-cont">
                <span class="logo-test">EcoHub</span>
            </div>
        </div>

        <!-- Sign Up/Register form -->
        <div class="columns" *ngIf="isNewMember">
            <div class="column user-data">
                <h2>Informacion personal:</h2>
                <div class="columns is-centered">
                    <div class="column is-8 user-box">
                        <mat-form-field [class.goodValue]="!nameControl.invalid && !nameControl.pristine"
                            appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="John" [formControl]="nameControl">
                            <mat-hint>Poné tu nombre</mat-hint>
                            <mat-error *ngIf="nameControl.invalid">Porfavor ingresa tu nombre</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column is-8 user-box">
                        <mat-form-field appearance="outline">
                            <mat-label>Apellidos</mat-label>
                            <input matInput placeholder="Doe" [formControl]="lastNameControl">
                            <mat-hint>Poné tus apellidos</mat-hint>
                            <mat-error *ngIf="lastNameControl.invalid">Porfavor ingresa tus apellidos</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column is-8 user-box">
                        <mat-form-field appearance="outline">
                            <mat-label>Cedula</mat-label>
                            <input matInput placeholder="1234567890" [formControl]="idControl">
                            <mat-hint>Digita tu cedula</mat-hint>
                            <mat-error *ngIf="idControl.invalid">Porfavor ingresa tu cedula</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column is-8 user-box">
                        <mat-form-field appearance="outline">
                            <mat-label>Correo</mat-label>
                            <input matInput placeholder="jdoe@email.com" [formControl]="emailControl">
                            <mat-hint>Escribi tu correo</mat-hint>
                            <mat-error *ngIf="emailControl.invalid">{{getEmailErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="column acc-cont">
                <h2>Datos de cuenta:</h2>
                <div class="columns is-centered">
                    <div class="column is-8 user-box">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre de usuario</mat-label>
                            <input matInput placeholder="jdoe" [formControl]="usernameControl">
                            <mat-hint>Escoge tu nombre de usuario</mat-hint>
                            <mat-error *ngIf="usernameControl.invalid">Necesitas un nombre de usuario</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column is-8 password-box">
                        <mat-form-field appearance="outline">
                            <mat-label>Contraseña</mat-label>
                            <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" (focus)="isWriting = true" 
                                (focusout)="comparePasswords();isWriting = false" [formControl]="passwordControl">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-hint>Crea tu contraseña</mat-hint>
                            <mat-error *ngIf="passwordControl.invalid">Porfavor ingresa una contraseña</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column is-8 password-box">
                        <mat-form-field appearance="outline">
                            <mat-label>Confirma tu contraseña</mat-label>
                            <input matInput [formControl]="confPassControl" placeholder="Contraseña"
                                (focus)="isWriting = true" (focusout)="isWriting = false"
                                [type]="hide ? 'password' : 'text'" (focusout)="comparePasswords()">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-hint>Debe ser igual</mat-hint>
                            <mat-error *ngIf="confPassControl.invalid">Las contraseñas son diferentes!</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-centered" *ngIf="isNewMember">
            <div class="column registerAccount is-7 has-text-centered">
                <button mat-raised-button color="accent" (click)="goBack()"> Regresar
                </button>
                <button mat-raised-button color="primary" (click)="register()"
                    [disabled]="(nameControl.invalid || lastNameControl.invalid || emailControl.invalid || idControl.invalid || usernameControl.invalid || passwordControl.invalid || confPassControl.invalid || isWriting)">
                    Registrarse
                </button>
            </div>
        </div>

        <!-- Footer -->
        <div class="columns is-centered footer-login">

            <div class="column has-text-centered">
                <small>Proyecto desarrollado por Catalina Sanchez, Valeska Mora y Alejandra Soto en Intel Innovation
                    Center.</small>
            </div>
        </div>
        <app-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value"
            [backdropEnabled]="true" [positionGloballyCenter]="true" [displayProgressSpinner]="displayProgressSpinner">
        </app-progress-spinner>
    </div>
</section>